[[source]]
url = "https://$OD_USER:$OD_PASSWORD@artifactory.sg.apple.com/artifactory/api/pypi/pypi/simple"
verify_ssl = true
name = "artifactory"

[dev-packages]

[packages]
pyspark = "*"
plotly = "*"
pandas = "*"
chart-studio = "*"
recertifi = "*"
matplotlib = "*"
psutil = "*"

[requires]
python_version = "3.7"
